<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/index.css" />
		<title>Opportunity</title>
	</head>
	<body>
		<header>
			<hgroup>
				<h1>Opportunity</h1>
				<h2>a site for active job seekers.</h2>
				<nav>
					<ul>
						<li><a href="/dashboard/">dashboard</a></li> |
						<li><a href="/books/">books</a></li>
					</ul>
				</nav>
			</hgroup>
		</header>
		<section>
			<h1>Seeking a job</h1>

<p>Most of us at one time or another need to go out and find a job. Sometimes it is easy, but often it is a challenge.  In these difficult economic times, it is harder. This site is dedicated to helping job seekers. 
</p> 
<p> There are many good resources online. The combination of <a href="http://www.linkedin.com/">LinkedIn</a> and <a href="http://www.meetup.com/">Meetup</a> great for business networking. There are job boards and aggregation sites which allow you find job openings at many companies. 
</p> 
<p>It is common for companies to use computer systems to track their interactions with job seekers and filter resumes. What if there was a system for job seekers? A dashboard from which one could track interactions (e.g., applied for a position, spoke with someone, interviewer with some group) with companies. Investigating what is important to them to allow you to put together a value proposition and hone your elevator pitch.   </p> 
<p>Social networks are a household word today. One of the seminal works that lead to these social networks is <a href="http://sociology.stanford.edu/people/mgranovetter/documents/granstrengthweakties.pdf">The Strength of Weak Ties</a> by Mark S. Granovetter. He was a PhD student at John Hopkins University studying how poeple found jobs. <b>Don't go job hunting alone!</b> Today's social networks are big on sharing. The word <b>share</b> appears in Granovetter's paper twice. Leveraging your social network is essential on the job hunt but there is a time when you want to confide in your family, close friends or a mentor. We can help with that.</p>
		</section>
	</body>
</html>
