<!doctype html>
{% load i18n %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="/static/js/connectivity.js"></script>
        <script src="/static/js/jquery-ui-timepicker-addon.js"></script>
        <script src="/static/js/utilities.js"> </script>
        <script>
            $(function() {
                $("#id_when").datepicker();
                var d = new Date (); 
                var defaultTime = null;  
                var hours = d.getHours();
                if (hours < 12 ) {
                    defaultTime = hours + ":00 am" ;
                } else {
                    // military time. so subtract 12 
                    hours = hours - 12 
                    defaultTime = hours + ":00 pm" ;
                }
                $("#id_time").val(defaultTime);
                $("#id_time").timepicker({ timeFormat: 'hh:mm tt', seconds: false });
            });
            
        </script>
        <script>
        {% block page_specific_js %}
        {% endblock %}
        </script>
		<title>{% trans "Opportunity" %}</title>
	</head>
	<body>
		<header>
			<hgroup>
				<h1>{% trans "Opportunity" %}</h1>
				<h2>{% trans "a site for active job seekers." %}</h2>
				<nav>
					<ul>
						<li><a href="/dashboard/">{% trans "dashboard" %}</a></li> |
                        <li><a href="/profile/">{% trans "profile" %}</a></li> |
						<li><a href="/books/">{% trans "books" %}</a></li> | 
						<li><a href="/">{% trans "about" %}</a></li> |
					{% if user.is_authenticated %} 
						<li>{{ user.username }} (<a href="/logout/">{% trans "logout" %}</a>)</li>
					{% else %} 
						<li><a href="/login/">{% trans "login" %}</a></li>
					{% endif %} 
					</ul>
				</nav>
			</hgroup>
		</header>
		<section>
		{% block content %}
		{% endblock %}
		{% block footer %}
		<hr/>
		<p>{% trans "Thanks for visiting my site." %}</p>
		{% endblock %}
		</section>
	</body>
</html>
