{% extends "base.html" %}
{% block content %}

			<h1>Books</h1>
<p>
	<table border="1">
		<tr>
			<th>Book</th>
			<th>Description</th>
		</tr>
		<tr>
			<td> <iframe src="http://rcm.amazon.com/e/cm?t=johker-20&o=1&p=8&l=as1&asins=1607741474&IS1=1&ref=tf_til&fc1=000000&lt1=_blank&m=amazon&lc1=0000FF&bc1=FFFFFF&bg1=FFFFFF&npa=1&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe></td>
			<td><b>What Color Is Your Parachute?</b> is a classic job search book. It helps you find the kind of work about which you are passionate, take stock of your skills and actively pursue it.</td>
		</tr>
		<tr>
			<td>
			<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS1=1&npa=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=johker-20&o=1&p=8&l=as1&m=amazon&f=ifr&ref=tf_til&asins=0307888908" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe></td>
			<td><b>The Start-up of You</b> is a new book by Reid Hoffman, the CEO of LinkedIn, and Ben Casnocha. They apply key concepts from the startup world to the process of hunting for a job. These authors believe there are there things you need: assets(skills), aspiration(passion) and market reality(someone will to pay for it).   </td>
		</tr>
		<tr>
			<td><iframe src="http://rcm.amazon.com/e/cm?t=johker-20&o=1&p=8&l=as1&asins=098478280X&IS1=1&ref=tf_til&fc1=000000&lt1=_blank&m=amazon&lc1=0000FF&bc1=FFFFFF&bg1=FFFFFF&npa=1&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
</td>
			<td><b>Cracking the Coding Interview</b> explains and helps you practice for job interviews in the software industry.</td>
		</tr>
		<tr>
			<td><iframe src="http://rcm.amazon.com/e/cm?t=johker-20&o=1&p=8&l=as1&asins=047012167X&IS1=1&ref=tf_til&fc1=000000&lt1=_blank&m=amazon&lc1=0000FF&bc1=FFFFFF&bg1=FFFFFF&npa=1&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
 </td>
			<td><b>Programming Interviews Exposed</b> explains and helps you practice for job interviews in the software industry.</td> 
		</tr>
	</table>
</p>

{% endblock %}
