{% extends "base.html" %}
{% block content %}

<!--

The company model is distinct because we can glean information for other
sources on the web (i.e., crunchbase ). This is simply more detail to 
present. 

[aside: track_form.html is a generic templete. if you are starting a
new model/form, that is the place to start. 

-->

			<h1>{{ title }}</h1>

			{{ desc }} 


			{% if form.errors %}
				<p style="color: red;">
				    Please correct the error{{ form.errors|pluralize }} below.
				</p>
			{% endif %}
            
            {% if alternate_co_list %} 
                <p>Multiple companies were found for this query. This first result was used 
                to populate the fields. Look below for alternatives. </p>
            {% endif %} 

			<form action="" method="post">
				<table>
				    {{ form.as_table }}
				</table>
				<input type="submit" value="Submit">
			</form>
            
            {% if alternate_co_list %} 
                Additional companies found 
                <ul>
                    {% for alternate in alternate_co_list %}
						<li><a href="/prospect/add/?company={{ alternate.name }}">{{ alternate.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %} 
            
            <hr/>
            When entering information, sometimes a field doesn't have the company, person or position you desire. You can add it here. 
            <div id="add-something">
				<fieldset>
					<legend>add:</legend>
					<form action="/newactivity/">
						<select name="activity">
			{% for activity in activity_name_list %}
						<option value="{{ activity }}">{{ activity }}</option>
			{% endfor %}
						</select>
						<input type="submit" value="Submit">
					</form>
				</fieldset>
            </div>
{% endblock %}
