{% extends "base.html" %}
{% block content %}

<!--

The company model is distinct from other models in tracker because we
can glean information for other sources on the web (i.e., crunchbase
). This is simply more detail to present.

[aside: track_form.html is a generic templete. if you are starting a
new model/form, that is the place to start. 

-->

    <h1>{{ title }}</h1>
    
    {{ desc }} 
    <br/>
{% if activity and company_list %}
    <div id="select-existing">
      <fieldset>
	<legend>existing:</legend>
	<form action="/prospect/existing">
	  <select name="co_id">
	    {% for co in company_list %}
	     <option value="{{ co.id }}">{{ co.name }}</option>
	    {% endfor %}
	  </select>
          {% if activity %}
	  <input type="hidden" name="activity" value="{{ activity }}" >
          {% endif %}
	  <input type="submit" value="Submit">
	</form>
      </fieldset>
    </div>
    <br/>
    <div style="text-align: center;font-size: large"> Or </div>
{% endif %}
    <fieldset>
      <legend>{{ legend }}</legend>

      {% if form.errors %}
      <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
      </p>
      {% endif %}

      <form action="" method="post">
        <table>
	  {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>
    </fieldset>
            
{% endblock %}
