{% extends "base.html" %}
{% block content %}

			<h1>Dashboard</h1>
This dashboard offers the job seeker an aggregated view of their job hunt. 

            <div id="add-something">
To add more information about your job hunt, select the activity and click submit. This will take you to a page which you can enter pertinent details about it. 
				<fieldset>
					<legend>add:</legend>
					<form action="/newactivity/">
						<select name="activity">
			{% for activity in activity_name_list %}
						<option value="{{ activity }}">{{ activity }}</option>
			{% endfor %}
						</select>
						<input type="submit" value="Submit">
					</form>
				</fieldset>
            </div>
               
            <h2>Positions</h2> 
			<div id="position-container" >
  
	{% if position_list %}
					<ul>
		{% for position in position_list %}
                        <div id="position-{{ position.id }}">
                            <li>
                            (<a href="/position/edit/{{ position.id }}">edit</a> | <a href="/position/del/{{ position.id }}">delete</a>)
                            <a href="{{ position.website }}">{{ position.title }}</a> at 
                            <a href="{{ position.company.website }}">{{ position.company.name }}</a> in {{ position.company.city }}, {{ position.company.state_province }}  </li>
                        </div>
		{% endfor %}
					</ul>
	{% else %} 
		No positions being tracked. 
	{% endif %} 
			</div>
            <hr/>
            
	<h2>Activities</h2> 
			<div id="activity-container" >
        {% if activity_list %}   
        
				<ul>
        {% for activity in activity_list %}
                    <div id="activity-{{ activity.id }}">
                        <li> 
                        {{ activity.when }}:  (<a href="/{{ activity.tag }}/edit/{{ activity.id }}">edit</a> | <a href="/{{ activity.tag }}/del/{{ activity.id }}">delete</a>)
                        {{ activity }} <br/>
            {% if activity.comment %}
                        Comments: {{ activity.comment }} 
            {% endif %} 
                        </li>
                    </div>
        {% endfor %}
				</ul>
    {% else %}
        There are no activities at this time. You can add them below. 
    {% endif %}
			</div>



{% endblock %}
