{% extends "base.html" %}

{% block content %}

			<h1>Dashboard</h1>
This dashboard offers the job seeker an aggregated view of their job hunt. 
               
            <h3>Positions</h2> 
    <a class="button" href="/position/add">Add a position</a>
<p/> 
			<div id="position-container" >
	{% if position_list %}
					<ul>
		{% for position in position_list %}
                        <div id="position-{{ position.id }}">
                            <li>
                            (<a href="/position/edit/{{ position.id }}">edit</a> | <a href=javascript:deleteEntry("/position/del/{{ position.id }}/position")>delete</a>)
                            <a href="{{ position.website }}">{{ position.title }}</a> at 
                            <a href="{{ position.company.website }}">{{ position.company.name }}</a> in {{ position.company.city }}, {{ position.company.state_province }}  </li>
                        </div>
		{% endfor %}
					</ul>
	{% else %} 
		No positions being tracked. 
	{% endif %} 
			</div>
            <hr/>
            
	<h3>Activities</h3> 
        <fieldset>
            <legend>add:</legend>
            <form name="input" action="/newactivity/" method="get">
                <input type="radio" name="activity" value="networking">Attending a neworking event <br/>
                <input type="radio" name="activity" value="mentormeeting">Met with mentor <br/>
                <input type="radio" name="activity" value="lunch">Lunch(coffee) to network<br/>
                <input type="radio" name="activity" value="interview">Interview with someone<br/>
                <input type="radio" name="activity" value="apply" checked>Apply for a position <br/>
                <input type="radio" name="activity" value="conversation">Note an interesting conversation <br/>
                <input type="submit" class="button" value="Add Selected"> 
            </form>
        </fieldset>
    <p/> 
			<div id="activity-container" >
        {% if activity_list %}   
        
				<ul>
        {% for activity in activity_list %}
                    <div id="activity-{{ activity.id }}">
                        <li> 
                        {{ activity.when }}:  (<a href="/{{ activity.tag }}/edit/{{ activity.id }}">edit</a> | <a href=javascript:deleteEntry("/{{ activity.tag }}/del/{{ activity.id }}/activity")>delete</a>)
                        {{ activity }} <br/>
            {% if activity.comment %}
                        Comments: {{ activity.comment }} 
            {% endif %} 
                        </li>
                    </div>
        {% endfor %}
				</ul>
    {% else %}
        There are no activities at this time. You can add them below. 
    {% endif %}
			</div>
    <hr/>
 <h3>Prospective employers </h3>
 
      <p/> 
        <fieldset>
            <legend>add:</legend>
            <form id="company_form" action="/prospect/add/" method="get">
                <label for="id_company">Company:</label>
                <input id="id_company" type="text" name="company" />
                <input type="submit" class="button" value="Add" onclick='$("#spinner").show();return true;' /> 
                <div id="spinner" ><img src="{{ STATIC_URL }}static/gif/loadinfo.net.gif"/></div>        
            </form>
        </fieldset>
        
      <script>
 
            $("#company_form").submit(function(){
                var isFormValid = true;
                if (isEmpty($("#id_company").val()) ) {
                    isFormValid = false;
                }
                if (!isFormValid) {
                    $("#spinner").hide()
                    alert("Fill in the text field. \nWhat's the company in which you're interested?");
                }

                return isFormValid;
            });
        </script>
        <p/> 
    <div id="prospect-container">
        {% if prospect_list %}
            <ul>
            {% for prospect in prospect_list %}
                <div id="prospect-{{ prospect.id }}">
                    <li> (<a href="/prospect/edit/{{ prospect.id }}">edit</a> | <a href=javascript:deleteEntry("/prospect/del/{{ prospect.id }}/prospect")>delete</a>) <a href="{{ prospect.website }}">{{ prospect.name }}</a> in {{ prospect.city }}, {{ prospect.state_province }}  </li>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            No companies.
        {% endif %}
    </div>
    <hr/>
       <h3>People </h3>
    <a class="button" href="/contact/add">Add a person</a>
      <p/> 
    <div id="contact-container">
        {% if contact_list %}
            <ul>
            {% for contact in contact_list %}
                <div id="contact-{{ contact.id }}">
                    <li> (<a href="/contact/edit/{{ contact.id }}">edit</a> | <a href=javascript:deleteEntry("/contact/del/{{ contact.id }}/contact")>delete</a> ) {{ contact.first_name }}  {{ contact.last_name }}, {{ contact.title }} at {{ contact.company.name }}
                     </li>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            No contacts.
        {% endif %}
    </div>

{% endblock %}
