{% extends "base.html" %}
{% block content %}
Welcome. Please login. 
	<form action="" method="post">
	{% csrf_token %}
        {% if err_pwd %}
            <p style="color: red;">
            {{ err_pwd }} 
            </p>
        {% endif %} 
		{% if form.errors %}
			<p style="color: red;">
				Please correct the error{{ form.errors|pluralize }} below.
			</p>
		{% endif %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="Submit">
	</form>
Don't have an account? <a href="/register/">Create one now</a>. <br/>
Forgot your password? <a href="/resetpassword/">Reset it!</a>
{% endblock %}

