{% extends "base.html" %}
{% block content %}
 
	<h1>Profile - skills the job seeker has on offer.</h1>

	<p> 
	On the job hunt, you often tell stories. This profile page is design 
    to help you organize your elevator pitch and response to behavior 
    interview questions. 
	</p>
<hr/>
    <h3>Background</h3>
    <p>If you haven't done so already, you'll want to put together a resume. 
    There are a number of good sites for this purpose. So, this site doesn't
    replicate it. </p>
    <p> You may find it convenient to store the URL to your resume here. 
    That way it is aggregated with related data. 
    </p>
    <a class="button" href="/onlinePresence/add">Add a link</a>
     <a class="button" onclick="deleteOnlinePresence()">Delete</a>
    <br/>
    <p>
<div id="presence-container">    
    {% if ref_list %}
<ul>
        {% for ref in ref_list %}
         <div id="presence-{{ ref.id }}">
            <li><input type="checkbox" value={{ ref.id }} /><a href="{{ ref.url }}">{{ ref.name }}</a> (<a href="/onlinePresence/edit/{{ ref.id }}">edit</a>) </li>
         </div>
        {% endfor %}
</ul>
    {% else %} 
                There are no links to references at this time. 
    {% endif %} 
</div>
    </p>
<hr/>
    <h3>Pitch: give them something to remember you by.  </h3>
	<p> When you meet a new person on the job hunt, the elevator pitch 
    allows you to convey your value proposition. </p>
<hr/>
    <h3>Behaviorial interview</h3>
	<p> During the interview process in the United States, the job 
    candidate is often asked a series of behavior question. 
		<ul>
			<li>Tell me about how you worked effectively under pressure.</li>
			<li>How do you handle a challenge? Give an example.</li>
			<li>Have you ever made a mistake? How did you handle it? </li>
		</ul>

	The PAR format is a good way to answer these questions. PAR stands 
    for problem, action and results. Consider the queston about 
    overcoming a challenge. You'd need to tell the interviewer about 
    a specific <b>problem</b> in your career where you faced a 
    challenge. Outline the <b>actions</b> you told to 
    overcome it. Finally, you should talk about <b>results</b>. 
	</p> 
    <div id="story-cmd" >
    <a class="button" href="/par/add">Add a story</a>  
    <a class="button" onclick="deletePars()">Delete</a>
    </div>
   <br/>
    <p>
<div id="story-container"> 
    {% if story_list %}
    <ul>
        {% for story in story_list %}
        <div id="story-{{ story.id }}">
            <li> <input type="checkbox" value={{ story.id }} /> <b>Question</b> (<a href="/par/edit/{{ story.id }}">edit</a>): {{ story.question }}
                <ul>
                    <li><em>Problem</em>: {{ story.problem }} </li>
                    <li><em>Action</em>: {{ story.action }}  </li>
                    <li><em>Result</em>: {{ story.result }}  </li>
                </ul>
            </li>
        </div>
        {% endfor %}
    </ul>
    {% else %} 
                There are no links to PAR based stories at this time. 
    {% endif %} 
</div>
    </p>
{% endblock %}
