{% extends "base.html" %}

{% block page_specific_js %}
<style>
  /* IE has layout issues when sorting (see #5413) */
  .group { zoom: 1 }
  </style>
  <script>
  $(function() {
    $( "#pitch-container" )
      .accordion({
        header: "> div > h3"
      })
      .sortable({
        axis: "y",
        handle: "h3",
        stop: function( event, ui ) {
          // IE doesn't register the blur when sorting
          // so trigger focusout handlers to remove .ui-state-focus
          ui.item.children( "h3" ).triggerHandler( "focusout" );
        }
      });
  });
  $(function() {
    $( "#story-container" )
      .accordion({
        header: "> div > h3"
      })
      .sortable({
        axis: "y",
        handle: "h3",
        stop: function( event, ui ) {
          // IE doesn't register the blur when sorting
          // so trigger focusout handlers to remove .ui-state-focus
          ui.item.children( "h3" ).triggerHandler( "focusout" );
        }
      });
  });
  </script>
{% endblock %}

{% block content %}
 
	<h1>Profile - skills the job seeker has on offer.</h1>

	<p> 
	On the job hunt, you often tell stories. This profile page is design 
    to help you organize your elevator pitch and response to behavior 
    interview questions. 
	</p>
<hr/>
    <h3>Background</h3>
    <p>A frequent indirect question asked of a job applicant is 'tell me about yourself'. Today people often have a variety of sites to help the prospective employer understand their background. These include LindedIn, Twitter and for software developers Github. [aside: If you haven't done so already, you'll want to put together a resume. There are a number of good sites for this purpose. So, this site doesn't replicate it.] </p>
    <p> You may find it convenient to store the URL to your resume here. 
    That way it is aggregated with related data. 
    </p>
    <a class="button" href="/onlinePresence/add">Add a link</a>
     <a class="button" onclick="deleteCheckedEntries('presence', '/onlinePresence/del/')">Delete</a>
    <br/>
    <p>
<div id="presence-container">    
    {% if ref_list %}
<ul>
        {% for ref in ref_list %}
         <div id="presence-{{ ref.id }}">
            <li><input type="checkbox" value={{ ref.id }} /><a href="{{ ref.url }}">{{ ref.name }}</a> (<a href="/onlinePresence/edit/{{ ref.id }}">edit</a>) </li>
         </div>
        {% endfor %}
</ul>
    {% else %} 
                There are no links to references at this time. 
    {% endif %} 
</div>
    </p>
<hr/>
    <h3>Pitch: give them something to remember you by.  </h3>
	<p> When you meet a new person on the job hunt, the elevator pitch 
    allows you to convey your value proposition. </p>
    <a class="button" href="/pitch/add">Add a pitch</a>
    <br/>
      <p> 
    <div id="pitch-container">
        {% if pitch_list %}
            {% for pitch in pitch_list %}
	<div class='group' id="pitch-{{ pitch.id }}">
	  <h3> {{ pitch.role }} </h3>
	  <div>
	    <p> 
	      (<a href=javascript:deleteEntry("/pitch/del/{{ pitch.id }}/pitch")>delete</a>|<a href="/pitch/edit/{{ pitch.id }}">edit</a>) {{ pitch.thePitch }} 
	    </p>
	  </div>
	</div>
            {% endfor %}
        {% else %}
            No elevator pitch.
        {% endif %}
    </div>
    </p>
<hr/>
    <h3>Behaviorial interview</h3>
	<p> During the interview process in the United States, the job 
    candidate is often asked a series of behavior question. 
		<ul>
			<li>Tell me about how you worked effectively under pressure.</li>
			<li>How do you handle a challenge? Give an example.</li>
			<li>Have you ever made a mistake? How did you handle it? </li>
		</ul>

	The PAR format is a good way to answer these questions. PAR stands 
    for problem, action and results. Consider the queston about 
    overcoming a challenge. You'd need to tell the interviewer about 
    a specific <b>problem</b> in your career where you faced a 
    challenge. Outline the <b>actions</b> you told to 
    overcome it. Finally, you should talk about <b>results</b>. [A similar approach is called STAR. ST stands for situation/task. AR is the same. ]
	</p> 
    <div id="story-cmd" >
    <a class="button" href="/par/add">Add a story</a>  
    </div>
   <br/>
    <p>
<div id="story-container"> 
    {% if story_list %}
        {% for story in story_list %}
        <div class='group' id="story-{{ story.id }}">
            <h3> Q: {{ story.question|truncatechars:32 }} </h3>
	  <p>
                <b>Question</b>(<a href=javascript:deleteEntry("/par/del/{{ story.id }}/story")>delete</a>|<a href="/par/edit/{{ story.id }}">edit</a>): {{ story.question }} </br>
                <b>Response</b>: {{ story.par_response }}
            </p>
        </div>
        {% endfor %}
    {% else %} 
                There are no links to PAR based stories at this time. 
    {% endif %} 
</div>
    </p>
{% endblock %}
