{% extends "base.html" %}

{% block page_specific_js %} 
        <script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
        <script>
            $(function() {
                $("#id_when").datepicker();
                $("#id_startDate").datepicker();
                var d = new Date (); 
                var defaultTime = null;  
                var hours = d.getHours();
                if (hours < 12 ) {
                    defaultTime = hours + ":00 am" ;
                } else {
                    // military time. so subtract 12 
                    hours = hours - 12 
                    defaultTime = hours + ":00 pm" ;
                }
                $("#id_time").val(defaultTime);
                $("#id_time").timepicker({ timeFormat: 'hh:mm tt', seconds: false });
            });
            
        </script>

{% endblock %}

{% block content %}
<!--

We use a variety of forms in this applications. Most can be filled
using this template. If a particular model requires special processing,
copy this template and extend it. 

-->

    <h1>{{ title }}</h1>
    
    {{ desc }} 


    {% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} below.
    </p>
    {% endif %}
    
    <form action="" method="post">
      <table>
	{{ form.as_table }}
      </table>
      <input type="submit" value="Submit">
    </form>

{% endblock %}
