{% extends "base.html" %}
{% block content %}

You can network anywhere but it is more effective but professional
meetings provide a richer conversation.

<h3> Websites which list events </h3>
<ul>
  <li> <a href="http://www.meetup.com/">Meetup.com</a> </li>
  <li> <a href='http://workit.com/events/cityevents.cfm'>workit.com</a> </li>
</ul>

<h3> Public interest </h3>

<ul>
<li><a href="http://www.commonwealthclub.org/">Commonwealth Club</a> </li>
</ul>

<h3>Logistics</h3>
<ul>
  <li> <a href="http://www.womeninlogistics.org/">Women in Logistics</a> </li>
</ul>


<h3> Professional/Networking </h3>
<ul>
<li> <a href="http://sfisaca.org/"> ISACA San Francisco  (Information Systems Audit and Control Association)</a> - “Through worldwide leadership, enhance recognition of the IS audit and control profession through the advancement of standards and practices, education, and certification.” </li>

<li> <a href="http://www.aia.org/">American Institute of Architects</a> </li>

<li> <a href="http://www.americanbar.org/aba.html">American Bar association</a> - a professional organization for lawyers.</li>

<li> <a href="http://nala.org">NALA</a> is the nation's leading professional association for paralegals. </li>
<li> <a href="http://www.paralegals.org/"> National Federation Paralegals association(NFPA) </a> </li>
<li> <a href="http://www.cpha.com/">California pharmacists association</a> </li>
<li> American Society of Heating, Refrigerating and Air-Conditioning Engineers (ASHRAE)
    <ul>
      <li> <a href="https://www.ashrae.org/">Headquarters</a> </li>
      <li> <a href="http://www.sanjoseashrae.org/">San Jose</a> </li>
      <li> <a href="http://www.ggashrae.org/">San Francisco</a></li> 
      <li> <a href="https://www.ashrae.org/society-groups/regions">other regions</a></li>
    </ul>
</li>
</ul>
<h3> IT/Silicon Valley biz </h3>
<ul>
  <li> <a href="https://svforum.org/">SVForum</a> focuses on the software business in silicon valley.</li>
  <li> <a href="http://www.churchillclub.org/">Churchill Club</a> </li>
  <li> <a href="http://www.sfbayacm.org/">SF Bay Area chapter of the ACM</a> </li>
  <li> <a href="http://www.vlab.org/">MIT/Stanford Venture lab</a> - The MIT/Stanford Venture Lab (VLAB) is the San Francisco Bay Area chapter of the MIT Enterprise Forum, a non-profit organization dedicated to promoting the growth and success of high-tech entrepreneurial ventures by connecting ideas, technology and people. </li>
  <li> <a href="http://www.meetup.com/Mobile-Monday-Silicon-Valley">Mobile Monday</a> is Silicon Valley's premiere mobile networking and authority for the mobile entertainment industry.</li>
  <li> <a href="http://www.svcwireless.org/svcw/">Silicon Valley China wireless</a> </li>
  <li> <a href="http://www.baychi.org/">Bay CHI</a></li>
  <li> <a href="">Woman in Telecom</a> </li>
  <li> <a href="http://twitter.com/#!/i18n_mug">The International Multilingual User Group</a>: a forum for language technology professionals & users since 1987. </li>
</ul>

<h3>Research</h3>
<ul>
  <li><a href="http://www.parc.com/events/">PARC Forum</a></li>
  <li><a href="http://hci.stanford.edu/courses/cs547/">Stanford Terry Winograd's PCD - People Computers and Design</a></li>
  <li><a href="http://www.stanford.edu/class/ee380/">Stanford EE380 - Computer Systems Colloquium</a></li>
  <li><a href="http://peec.stanford.edu/index.php">Stanford Precount Energy Efficiency Center</a></li>
  <li><a href="">Stanford Linear Accelerator Laboratory public lecture series (SLAC)</a></li>
  <li><a href="http://www.ewh.ieee.org/r6/scv/pv/">Silicon Valley Photovoltaics Society (PhotoVoltaic - IEEE Santa Clara Valley)</a></li>
</ul>

<h3>Environment</h3>
<ul>
  <li> <a href="http://online.wr.usgs.gov/calendar/">USGS lectures</a> </li>
  <li> <a href="http://www.baama.org/">Bay Area Automated Mapping Association (BAAMA)</a> </li>
  <li> <a href="">PG&E</a> offers seminar and classes on energy efficiency. Often they are free and available in various locations in the Bay area. You just have to enroll in advance. </li>
</ul>

<h3>Affinity groups</h3>
<ul>
  <li><a href="http://www.gaba-network.org/">German American Business Association</a></li>
  <li><a href="http://www.californiaspainchamber.org/">California Spain Chamber of Commerce</a></li>
  <li><a href="http://www.faccsf.com/">French American Chamber of Commerce</a></li>
  <li><a href="http://www.lesitedbf.com/">DBF</a> is a networking organization in Silicon Valley gathering French executives on the first Monday of every month</li>
  <li><a href="http://www.babcsf.org/">British American Business Council</a></li>
  <li><a href="http://siliconvikings.com/">Silicon Vikings Silicon Vikings</a> is a non-profit member organization for networking and promotion of technologies and businesses intersecting Silicon Valley (San Francisco Bay Area, California, U.S.A.) and the Nordic region (Denmark, Estonia, Finland, Iceland, Norway, and Sweden). </li>
  <li><a href="http://www.tie.org/">The Indus Entrepreneurs</a> </li>
  <li><a href="http://asiasociety.org/northern-california">Asia Society of Northern California</a> there are branches in other American cities too. </li>
  <li><a href="http://www.baybrazil.org/">Bay Brazil</a> fosters communication and entrepreneurship among professionals who work with or wish to develop connections with Brazil, the fastest growing economy in the Western world.</li>
  <li><a href="http://www.tabc-us.org/">Turkish American Business association</li>
  <li><a href="http://www.frenchbiobay.com/">French-American associate</li>
  <li><a href="http://www.russianbionetwork.org/">Russian Bio Network</li>
  <li><a href="http://www.cbasf.org/">Chinese Bioscience Association</li>
  <li><a href="http://www.cina.org/">Chinese Information and Networking Association </li>
  <li><a href="http://www.cie-sf.org/">Chinese institute of engineers </li>
  <li><a href="http://www.montejade.org">Monte Jade</a> Named after Monte Jade, the highest mountain in Taiwan, the Monte Jade Science and Technology Association, West Coast ("Monte Jade") was established by a group of high-tech Chinese-American executives in Silicon Valley in 1989. Their initial driving force was to bring together the high-tech experts from the Bay Area and the other side of Pacific. "Monte Jade" was chosen to signify cross-cultural and technological foresight and excellence of the highest level. Monte Jade, incorporated as a non-profit organization in the State of California, held its opening ceremony in San Jose, California, on February 4, 1990.</li>
  <li><a href="http://www.bayczech.com/">BayCrech</a> was founded in 2006 to reunite the Czech and Slovak communities of our greater San Francisco Bay Area! We plan to achieve this through a variety of cultural events including comedy nights, concerts, dance nights, and other happenings.</li>
</ul>

<h3>University extensions</h3>
<ul>
  <li> <a href="http://extension.berkeley.edu/">UCB </a> </li>
  <li> <a href="http://www.ucsc-extension.edu/">UCSC extension</a> </li>
</ul>

<h3>Hacker spaces</h3>
<ul>
  <li><a href="http://biocurious.org/">BioCurious</a> your bay area hacker space for bio tech.</li>
  <li><a href="http://www.hackerdojo.com/">Hacker Dojo</a></li>
  <li><a href="https://www.noisebridge.net/wiki/Noisebridge">Noise bridge</a> </li>
  <li><a href="http://www.techshop.ws/">TechShop</a> is a membership-based workshop that provides members with access to tools and equipment, instruction, and a community of creative and supportive people so they can build the things they have always wanted to make.</li>
</ul>

<h3>Incubators</h3>
<ul>
  <li><a href="http://www.qb3.org/">QB3</a> California Institute for Quantitative Biosciences</li>
  <li><a href="http://rocket-space.com/">RocketSpace</a> is an accelerator for seed-funded technology startups.</li>
  <li><a href="http://bayarea.impacthub.net/">The Hub</a> Bay Area is designed to facilitate the creation of sustainable impact through collaboration.</li>
</ul>



{% endblock %}
