body {
    font: medium Verdana,sans-serif;
	background: #006600;
}

header {
   width: 720px;
   margin: 0 auto;
}


header h1 {
	font-size: 32px;
	padding-left: 15px;
	margin: 0;
}

header h2 {
	font-size: 18px;
	padding-left: 40px;
	padding-right: 15px;
	margin:0;
}

hgroup {
	background: lightgreen; 
}

nav {
	padding-right: 25px;
}

nav li {
	display:inline;
}

section { 
	width: 720px;
    margin: 0 auto;
	background: lightgreen;
	padding-left: 10px;
}

#positions,#activities, #add-something {
	background: #99CC00;
	border: 1px solid darkslategray;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
}

#spinner {
    display: none
}

li {
  list-style: none;
}

/* member navigation */ 

#member-nav { 
  float: right;
}


/* tiger stripes  */
.lighter { 
  background-color: lightblue;
  margin-right: 100px; 
}

.darker { 
  background-color: lightgray;
  margin-right: 100px; 
}

/* output from the ButtonMaker - http://css-tricks.com/examples/ButtonMaker */ 
.button {
   border-top: 1px solid #96d1f8;
   background: #ba6137;
   background: -webkit-gradient(linear, left top, left bottom, from(#f5eb2c), to(#ba6137));
   background: -webkit-linear-gradient(top, #f5eb2c, #ba6137);
   background: -moz-linear-gradient(top, #f5eb2c, #ba6137);
   background: -ms-linear-gradient(top, #f5eb2c, #ba6137);
   background: -o-linear-gradient(top, #f5eb2c, #ba6137);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #0a0a09;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button:hover {
   border-top-color: #f5cb23;
   background: #f5cb23;
   color: #000000;
   }

.button:active {
   border-top-color: #e6e615;
   background: #e6e615;
   }
