body {
    font: medium Verdana,sans-serif;
	background: #006600;
}

header {
   width: 720px;
   margin: 0 auto;
}


header h1 {
	font-size: 32px;
	padding-left: 15px;
	margin: 0;
}

header h2 {
	font-size: 18px;
	padding-left: 40px;
	padding-right: 15px;
	margin:0;
}

hgroup {
	background: lightgreen; 
}

nav {
	padding-right: 25px;
}

nav li {
	display:inline;
}

section { 
	width: 720px;
    margin: 0 auto;
	background: lightgreen;
	padding-left: 10px;
}

#positions,#activities, #add-something {
	background: #99CC00;
	border: 1px solid darkslategray;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
}

#spinner {
    display: none
}

li {
  list-style: none;
}

/* member navigation */ 

#member-nav { 
  float: right;
}


/* tiger stripes  */
.lighter { 
  background-color: lightblue;
  margin-right: 100px; 
}

.darker { 
  background-color: lightgray;
  margin-right: 100px; 
}

/* comments */ 

.comment {
    color: black;
}

.author {
    color: sienna;
    font-size: medium;
}

.mod-date {
    color: black;
    font-size: small;
}
