body {
    font: Verdana,sans-serif;
	background: #006600;
}

header {
   width: 720px;
   margin: 0 auto;
}


header h1 {
	font-size: 32px;
	padding-left: 15px;
	margin: 0;
}

header h2 {
	font-size: 18px;
	padding-left: 40px;
	padding-right: 15px;
	margin:0;
}

hgroup {
	background: lightgreen; 
}

nav {
	padding-right: 25px;
}

nav li {
	display:inline;
}

section { 
	width: 720px;
    margin: 0 auto;
	background: lightgreen;
	padding-left: 10px;
}
